:root{
    --primary-font-family: amplitude, sans-serif;
    --primary-logo-brown-rgb: 84, 48, 26;
    --primary-base-grey-rgb:109,110,113;
    --primary-accent-blue-rgb:136, 171, 213;
    --secondary-hover-metalic-rgb: 133, 124, 126;
    --primary-background-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-background-color);
}

body {
  font-family: amplitude, sans-serif;
  font-style: normal;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}



